node_modules
dist
.env
.idea
.vscode
e2e/cypress/*
!e2e/cypress/integration/
.codegraph
example/public/worker/foundation-worker.js
example/public/worker/foundation-worker.manifest.json
example/src/generated/foundation-worker.js
example/src/generated/foundation-worker.manifest.json
