.netless-window-manager-playground {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.netless-window-manager-sizer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    display: flex;
}

.netless-window-manager-sizer-horizontal {
    flex-direction: column;
}

.netless-window-manager-sizer::before,
.netless-window-manager-sizer::after {
    flex: 1;
    content: '';
    display: block;
}

.netless-window-manager-chess-sizer::before,
.netless-window-manager-chess-sizer::after {
    background-image: linear-gradient(45deg, #b0b0b0 25%, transparent 25%), linear-gradient(-45deg, #b0b0b0 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #b0b0b0 75%), linear-gradient(-45deg, transparent 75%, #b0b0b0 75%);
    background-color: #fff;
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.netless-window-manager-wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.netless-window-manager-main-view {
    width: 100%;
    height: 100%;
}
