.netless-window-manager .main-view {
    width: 100%;
    height: 100%;
}

.netless-window-manager.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
